@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
    background-image: url("../appSigma/img/falk/fondobalnco.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;  
    font-family: 'Open sans';
}

.container{
    background-color: #fff;
    margin: auto;
}


@media screen and (max-widht: 850px) {
    .contenedor{
        display: block;

    }
    .contenedor-items{
        width: 100%;
    }
    .carrito{
        width: 100%
    }
}

.navbar-with-image {
    background-image: url('../appSigma/img/falk/fondo4.jpg');
    background-size: cover;
    background-position: center;

  }
  .navbar-nav .nav-link {
    color:black;
  }

.navbar-collapse {
    animation-duration: 0.5s;
    animation-name: slideIn;
    transform-origin: top;
  }

.navbar {
    background-color: transparent !important;
    
}
.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: lightgray !important;
}

h2{
    color: #000000;
}
